# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Static collection
staticfiles/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env

# Logs
*.log
